.text-bold {
  font-weight: 600;
}

.text-red {
  color: red !important;
}

.cursor-pointer {
  cursor: pointer;
}

.centered {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.mh-6 {
  margin-left: 6px;
  margin-right: 6px;
}

.mh-12 {
  margin-left: 12px;
  margin-right: 12px;
}
